<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h3>Employee Manager</h3></div>
            <div class="col-sm-4">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="search-text-box" placeholder="Search Employees by id"/>
                  <button type="submit" class="btn btn-primary">Find</button>
                </div>
              </form>
            </div>
            <!-- end col -->
        </div>
        <div class="row">
          <div class="col-sm-12"><a href="#custom-modal" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="fa fa-plus" aria-hidden="true"></i> Add Member</a></div>
        </div>
        <!-- end row -->
        <div class="row">
            <div *ngFor="let employee of employees" class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="{{employee?.imageUrl}}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>{{employee?.name}}</h4>
                            <h6>{{employee?.jobTitle}}</h6>
                            <p class="text-muted">@Email <span>| </span><span><a href="#" class="text-pink">{{employee?.email}}</a></span></p>
                            <p class="text-muted">@Phone <span>| </span><span><a href="#" class="text-pink">{{employee?.phone}}</a></span></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Update Employee"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Delete Employee"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="text-right">
                    <ul class="pagination pagination-split mt-0 float-right">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>